body {
  width: 400px;
  margin: 40px auto;
}

#textField {
  width: 352px;
  padding: 5px;
}

#addButton {
  color: white;
  background-color: darkblue;
  padding: 5px;
}

#taskList {
  list-style: none;
  padding: 0;
}

#taskList li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0px;
}

#taskList button {
  margin-left: auto;
}

#taskList li.check {
  background-color: gray;
}

#taskList li.check :not(button) {
  text-decoration: line-through;
}
