/* レイアウト調整 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

/* TODO
1.カーソルを合わせると以下のように変化するh1見出し(文章はなんでもOK)を配置する。
  ・文字色がグレーになる
  ・45°傾く
  ・変化の仕方はなんでもいい(easeでもよいし他のでもいい)
  ・0.8秒で変化する
  ・カーソル合わせてから0.5秒後に変化が始まる
  ・カーソルが離れると元に戻る
  ※通常時のh1は自由に設定してOKです
*/
.title-rotate {
  display: inline-block; /* ←省略可 */

  transition:
    color 0.8s ease 0.5s,
    transform 0.8s ease 0.5s;
}
/*
transition: <property> <duration> <timing-function> <delay>;
時間指定に関しては先に書いたものが実行時間<duration>、後に書いたものが遅延時間<delay>という扱いになる。その他は順不同。アニメーションプロパティも同様の扱い。
*/
h1:hover {
  color: gray;
  transform: rotate(45deg);
}

/* TODO
2.クリックすると以下のように変化するボタンを配置する。
  ・サイズが1.5倍になる
  ・背景色が赤になる
  ・変化の仕方はなんでもいい(easeでもよいし他のでもいい)
  ・0.8秒で変化する
  ※通常時のボタンは自由に設定してOKです
*/
.hold-btn {
  padding: 15px 30px;
  font-size: 18px;
  background-color: blue;
  color: white;
  border: none; /* ←デフォルトの枠線をリセット */
  cursor: pointer; /* ←UIとしての分かりやすさのため */

  transition: all 0.8s ease;
}

/* クリック中だけの適用 */
.hold-btn:active {
  transform: scale(1.5);
  background-color: red;
}

/* TODO
3.画面表示時からずっと時計回りする四角形(青色)を配置する。
*/
.spin-box {
  width: 100px;
  height: 100px;
  background-color: blue;

  /* アニメーションプロパティ */
  animation: spin 3s linear infinite;
}

/* 回転の定義 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TODO
4.画面表示以降、2秒ごとにぽよんと弾む四角形(緑色)を配置する。
  ・弾み方は自由に設定してOK
  ・2秒フルに使う必要はない(1秒間でぽよんして、残りは動かないでもOK)
*/
.bounce-box {
  width: 150px;
  height: 150px;
  background-color: green;

  animation: bounce 2s infinite;
}

/* ぽよんの動作をscaleで実現 */
@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
    /* 基準の倍率。開始と終了を一括指定。 */
  }

  25% {
    transform: scale(1.2, 0.8);
    /* ","で区切る時、X軸(横方向),Y軸(縦方向)の関係性 */
  }

  50% {
    transform: scale(0.9, 1.1);
  }

  75% {
    transform: scale(1.2, 0.8);
  }
}

/* TODO
5.画面表示後、3回だけ以下の変化をするp要素を配置する。 
  ・文字色が赤、文字の大きさが40pxになる
  ・背景色がグレーになる
  ・大きくなった後、元の状態に戻るまでが１セット
*/
.text-animation {
  font-size: 20px;
  color: black;
  background-color: transparent; /* transparent＝透明 */

  animation: trans 2s ease 0s 3;
}

/* 1セットの動作 */
/* 戻る動作はfrom toで実現できないので％で設定 */
@keyframes trans {
  0% {
    font-size: 20px;
    color: black;
    background-color: transparent;
  }

  50% {
    font-size: 40px;
    color: red;
    background-color: gray;
  }

  100% {
    font-size: 20px;
    color: black;
    background-color: transparent;
  }
}
